html {
    font-family: Inter, Roboto, sans-serif;
}

:root {
    --ton_blue: #0098ea;
    --ton_dark_blue: #07acff;
    --ton_purple: #b588ff;
    --default_white: #fff;
    --default_black: #161c28;
    --toncoin_header: #353538;
    --toncoin_gradient: linear-gradient(297.97deg, #232328 9.93%, #343437 76.88%);
    --accent-light: #0098ea;
    --accent-dark: #07acff;
    --accent-hover-light: #00a6ff;
    --accent-hover-dark: #34bcff;
    --background-page-light: #fff;
    --background-page-dark: #232328;
    --background-page-hover-light: #f7f9fb;
    --background-page-hover-dark: #2d2d32;
    --background-content-light: #f7f9fb;
    --background-content-dark: #2d2d32;
    --background-content-hover-light: #f0f4f8;
    --background-content-hover-dark: #36363c;
    --text-primary-light: #04060b;
    --text-primary-dark: #f3f3f6;
    --text-secondary-light: #191f2f;
    --text-secondary-dark: #d5d5d8;
    --text-tertiary-light: #728a96;
    --text-tertiary-dark: #acacaf;
    --icon-primary-light: #232328;
    --icon-primary-dark: #e5e5ea;
    --icon-secondary-light: #98b2bf;
    --icon-secondary-dark: #606069;
    --icon-tertiary-light: #c0d1d9;
    --icon-tertiary-dark: #45454b;
    --button-primary-light: var(--accent-light);
    --button-primary-dark: var(--accent-light);
    --button-primary-text-light: var(--accent-light);
    --button-primary-text-dark: var(--accent-dark);
    --button-secondary-stroke-light: #e9eef1;
    --button-secondary-stroke-dark: #303035;
    --segment-background-light: #f2f5f8;
    --segment-background-dark: #232328;
    --segment-active-light: #fff;
    --segment-active-dark: #2d2d32;
    --segment-active-content-dark: #3f3f46;
    --card-border-light: #dde3e6;
    --card-border-dark: #44444a;
    --separator-alpha-light: #dfe5e8;
    --separator-alpha-dark: #4f4f53;
    --gradient-text: linear-gradient(68deg, #2b82eb 0.63%, #1ac8ff 90%);
    --gradient-text-mobile: linear-gradient(68deg, #2b82eb 0.63%, #1ac8ff 50%);
    --gradient-purple: linear-gradient(182.79deg, #9a98f2 -28.73%, #8ac0ff 133.77%);
    --gradient-green: linear-gradient(186.6deg, #7baeff -13.27%, #c1edd1 128.74%);
    --gradient-light-blue: linear-gradient(88.93deg, #2b83ec 18.91%, #1ac9ff 79.91%);
    --gradient-splash: linear-gradient(to top left, #fff0, #fff0 45%, #ffffffb8 50%, #fff0 57%, #fff0);
    --basic-white: #fff;
    --basic-white-overlay: #ffffffb3;
    --basic-white-overlay-86: #ffffffdb;
    --basic-white-overlay-50: #ffffff80;
    --basic-black: #000;
    --basic-overlay-24: #0000003d;
    --basic-overlay-48: #000000b3;
    --basic-dark-overlay-86: #000000b3;
    --dark-shimmer-card: linear-gradient(90deg, #2d2d32cc, #3f3f47 48.16%, #2d2d32 98.44%);
    --light-shimmer-card: linear-gradient(90deg, #f5f7fa, #fafdff 50.98%, #f5f7fa);
    --feedback-error-light: #ed6767;
    --feedback-error-dark: #ff5c5c;
    --feedback-success-light: #47c58a;
    --feedback-success-dark: #32d583;
    --header-item-hover: #7698bb0f;
    --card-hover-box-shadow: 0px 2px 24px #728a961f;
    --card-box-shadow: 0px 4px 24px #00000014;
    --ligth-green: #ff5c5c14;
    --ligth-red: #47c58a1a;
    --dark-selection: #01a4f51a;
    --light-selection: #0088cc1a;
    --basic-white-hover: #f1f4f7;
    --float-shadow-color: #00000014
}