---
import "@styles";
import { AppProvider } from "@context";
---

<!doctype html>
<html class="h-full w-full" lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>krypton</title>
	</head>
	<body class="margin[0]">
		<AppProvider client:load>
			<header
				class="backdrop-blur-xl sticky top-0 left-0 px-36 py-4 border-b"
			>
				<nav class="flex align-middle justify-between">
					<ul class="appearance-none flex align-middle gap-4">
						<li>
							<a href="/">Home</a>
						</li>
						<li>
							<a href="/about">About</a>
						</li>
						<li>
							<a href="/blog">Blog</a>
						</li>
					</ul>
				</nav>
			</header>
			<main>
				<slot />
			</main>
			<footer></footer>
		</AppProvider>
	</body>
	<div id="modal"></div>
</html>
